In [1]:
# Importing relevant modules
import psycopg2
import pandas as pd

In [2]:
# Function to create DB
def create_database():
    # Connect to default postgres DB
    conn = psycopg2.connect('host=127.0.0.1 dbname=postgres user=postgres password=1')
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # Create myFutbaallDB with UTF8 encoding
    cur.execute('DROP DATABASE IF EXISTS myFutbaallDB')
    cur.execute('CREATE DATABASE football')
    
    # Sever connection to default DB
    conn.close()
    
    # Connect to myFutbaallDB DB
    conn = psycopg2.connect('host=127.0.0.1 dbname=football user=postgres password=1')
    cur = conn.cursor()
    
    # Return cursor and connection
    return cur, conn

In [3]:
# Reading csv files in
apps = pd.read_csv('appearances.csv')
player_val = pd.read_csv('player_valuations.csv')
players = pd.read_csv('players.csv')

In [5]:
# Selecting relevant cols from apps df
apps = apps[['player_id', 'player_name', 'player_current_club_id', 'goals']]

In [4]:
# Selecting relevant cols from player_val df
player_val = player_val[['player_id', 'market_value_in_eur', 
                       'current_club_id']]

In [6]:
players = players[['player_id', 'name', 'current_club_id', 'position']]

In [8]:
# Establishing a database connection and creating a cursor object
cur, conn = create_database()

In [9]:
# Create apps table
apps_create = ("CREATE TABLE IF NOT EXISTS apps(player_id varchar, player_name varchar, player_current_club_id numeric, goals numeric)")

In [10]:
# Execute the SQL statement defined in 'apps_create' to create the 'apps' table
cur.execute(apps_create)
# Commit changes to DB
conn.commit()

In [16]:
# Prepare SQL insert into apps table
apps_insert = ("INSERT INTO apps( \
              player_id, player_name, player_current_club_id, goals \
              ) VALUES (%s, %s, %s, %s)")

In [17]:
# Insert rows from 'apps' DataFrame using prepared SQL statement
for i, rows in apps.iterrows():
    cur.execute(apps_insert, list(rows))

In [18]:
# Commit changes to DB
conn.commit()

In [19]:
# Create player_val table
player_val_create = ("CREATE TABLE IF NOT EXISTS player_val( \
                     player_id numeric, market_value_in_eur numeric, current_club_id numeric)")

In [20]:
# Execute the SQL statement defined in 'player_val_create' to create the 'player_val' table 
cur.execute(player_val_create)
# Commit changes to DB
conn.commit()

In [21]:
# Prepare SQL insert into player_val table
player_val_insert = ("INSERT INTO player_val( \
player_id, market_value_in_eur, current_club_id \
                    ) VALUES (%s, %s, %s)")

In [22]:
# Insert rows from 'player_val' DataFrame using prepared SQL statement
for i, rows in player_val.iterrows():
    cur.execute(player_val_insert, list(rows))

In [23]:
# Commit changes to DB
conn.commit()

In [14]:
players_create = ("CREATE TABLE IF NOT EXISTS players( \
player_id numeric, name varchar, current_club_id numeric, position varchar \
)")

In [15]:
# Execute the SQL statement defined in 'player_val_create' to create the 'player_val' table 
cur.execute(players_create)
# Commit changes to DB
conn.commit()

In [25]:
# Prepare SQL insert into players table
players_insert = ("INSERT INTO players( \
player_id, name, current_club_id, position \
                    ) VALUES (%s, %s, %s, %s)")

In [26]:
# Insert rows from 'players' DataFrame using prepared SQL statement
for i, rows in players.iterrows():
    cur.execute(players_insert, list(rows))

In [27]:
# Commit changes to DB
conn.commit()

In [ ]:
# Close connection
conn.close()